{% for budget in budgets %}
    <div class="ui middle aligned divided list">
        <div class="item">
            <div class="right floated content">
                <div class="ui button">Add</div>
            </div>
            <i class="{% if budget.positions()|length > 0 %} folder {% else %} file {% endif %} icon"></i>
            <div class="content">
                <div class="header">{{ budget.name() }}</div>
                <div class="description">------------------------------</div>
                {% for budget_child in budget.positions() %}
                    {% if budget_child.positions()|length > 0 %}
                        {% include "@Budget/budget.html.twig" with { 'budget': budget_child } %}
                    {% else %}
                        {% include "@Budget/budget_position.html.twig" with { 'budget': budget_child } %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
