<div class="list">
    <div class="item">
        <i class="{% if budget.positions()|length > 0 %} folder {% else %} file {% endif %} icon"></i>
        <div class="right floated content">
            <div class="ui button">Add</div>
        </div>
        <div class="content">
            Add a comment to this line
            <div class="header">{{ budget.name() }}</div>
            <div class="description">Contains build settings for gulp</div>
            {% for budget in budget.positions() %}
                {% if budget.positions()|length > 0 %}
                    {% include "@Budget/budget.html.twig" with { 'budgets': budget.positions() } %}
                {% else %}
                    {% include "@Budget/budget_position.html.twig" with { 'budget': budget } %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
