<div class="list">
    <div class="item">
        <div class="right floated content">
            <div class="ui button">Add</div>
        </div>
        <i class="file icon"></i>
        <div class="content">
            <div class="header">{{ budget.name() }}</div>
            <div class="description">Contains build settings for gulp</div>
        </div>
    </div>
</div>
