{%  extends 'base.html.twig' %}

{% trans_default_domain 'FinanceBundle' %}

{%  block body %}

    <div class="segment">
        {% include "@Budget/budget_list.html.twig" with { 'budgets': budgets } %}
    </div>

{%  endblock %}
