<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Homepage - Semantic</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/semantic-ui/semantic.css">
    <style>
        .text-white {
            color: ghostwhite;
        }
    </style>
    {% block css %}{% endblock %}

    <script   src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>
    <script src="/assets/css/semantic-ui/semantic.js"></script>
    {% block javascript %}
        <script>
            $(document).ready(function () {
                $('form').form();
                $('.ui.checkbox').checkbox();
            });
        </script>
    {%  endblock %}
</head>

<body>

    <div class="ui menu">
        <a class="item">Browse</a>
        <a class="item">Submit</a>
        <div class="right menu">
            {% if is_granted('ROLE_USER') %}
                <a class="item" href="{{ path('fos_user_security_logout') }}">Logout</a>
            {%  else %}
                <a class="item" href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                <a class="item" href="{{ path('fos_user_security_login') }}">Login</a>
            {% endif %}
        </div>
    </div>
    
    {% block body %}{% endblock %}

</body>
</html>