{% trans_default_domain 'FOSUserBundle' %}

<form name="fos_user_registration_form" method="post" 
class="fos_user_registration_register ui large form" 
action="{{ path('fos_user_registration_register') }}">
    <div class="ui stacked segment">
        <div class="field">
            <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="email" 
                    id="fos_user_registration_form_email" 
                    name="fos_user_registration_form[email]" 
                    required="required" placeholder="E-mail">
            </div>
            {% if form.children.email.vars.errors|length > 0 %}
                {{ include("@FOSUser/form.field.errors.html.twig", { 'errors': form.children.email.vars.errors }) }}
            {% endif %}
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" 
                    id="fos_user_registration_form_username" 
                    name="fos_user_registration_form[username]" 
                    required="required" maxlength="180"
                    pattern=".{2,}" placeholder="Username">
            </div>
            {% if form.children.username.vars.errors|length > 0 %}
                {{ include("@FOSUser/form.field.errors.html.twig", { 'errors': form.children.username.vars.errors }) }}
            {% endif %}
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" 
                    id="fos_user_registration_form_plainPassword_first" 
                    name="fos_user_registration_form[plainPassword][first]" 
                    required="required" placeholder="Password">
            </div>
            {% if form.children.plainPassword.children.first.vars.errors|length > 0 %}
                {{ include("@FOSUser/form.field.errors.html.twig", { 'errors': form.children.plainPassword.children.first.vars.errors }) }}
            {% endif %}
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" 
                    id="fos_user_registration_form_plainPassword_second" 
                    name="fos_user_registration_form[plainPassword][second]" 
                    required="required" placeholder="Repeat password">
            </div>
            {% if form.children.plainPassword.children.second.vars.errors|length > 0 %}
                {{ include("@FOSUser/form.field.errors.html.twig", { 'errors': form.children.plainPassword.children.second.vars.errors }) }}
            {% endif %}
        </div>
        {{ form_row(form.children._token) }}
        
        <div class="ui fluid large teal submit button">
            {{ 'registration.submit'|trans }}
        </div>
    </div>

</form>
