{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header_content %}
    Create new account
{% endblock %}

{% block header_icon %}
    <i class="add user icon"></i>
{% endblock %}

{% block general_form_errors %}
    {% if form.vars.errors|length > 0 %}
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block form %}
    {{ include("@FOSUser/Registration/register_content.html.twig") }}
{% endblock %}

{% block form_additional_footer %}
    <div class="ui message">
        Do you have an account? <a href="{{ path('fos_user_security_login') }}">Login</a>
    </div>
{% endblock %}
