{% trans_default_domain 'FOSUserBundle' %}

<style>
    .column {
        max-width: 450px;
    }
</style>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h1 class="ui center aligned icon teal header">
            <i class="user icon"></i>
            <div class="content">
                Enter your new password
            </div>
        </h1>
        <form class="ui large form" action="{{ path('fos_user_change_password') }}" method="POST">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" required="required" placeholder="Current password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="fos_user_change_password_form_plainPassword_first" name="fos_user_change_password_form[plainPassword][first]" required="required" placeholder="New password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form[plainPassword][second]" required="required" placeholder="Repeat new password">
                    </div>
                </div>
                <input id="fos_user_change_password_form__token" name="fos_user_change_password_form[_token]" value="{{ form.children._token.vars.value }}" type="hidden">
                <div class="ui fluid large teal submit button">Confirm password</div>
            </div>
        </form>
    </div>
</div>
