{% trans_default_domain 'FOSUserBundle' %}
        
<form class="ui large form" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="ui stacked segment">
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" type="text">
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" type="password">
            </div>
        </div>
        <div class="field">
        <div class="ui slider checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" tabindex="0" class="hidden">
            <label>Remember me</label>
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
    </div>
</form>
