{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header_content %}
    Log-in to your account
{% endblock %}

{% block header_icon %}
    <i class="user icon"></i>
{% endblock %}

{% block general_form_errors %}
    {% if error %}
        <div class="ui red message">
            <div class="header">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block form %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock %}

{% block form_additional_footer %}
    <div class="ui message">
        <div class="ui list">
            <div class="item">
                 New to us? <a href="{{ path('fos_user_registration_register') }}">Sign Up</a>
            </div>
            <div class="item">
                <a href="{{ path('fos_user_resetting_request') }}">Don't you remember password?</a>
            </div>
        </div>
    </div>
{% endblock %}

