{% trans_default_domain 'FOSUserBundle' %}

<div class="ui red message">
    <ul class="list">
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
</div>