{% trans_default_domain 'FOSUserBundle' %}

{% extends "base.html.twig" %}

{% block body %}

    <style>
        .column {
          max-width: 450px;
        }
    </style>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h1 class="ui center aligned icon teal header">
                {% block header_icon %}{% endblock %}
                <div class="content">
                    {% block header_content %}{% endblock %}
                </div>
            </h1>
                
            {% block general_form_errors %} {% endblock %}
            
            {% block form %} {% endblock %}
            
            {% block form_additional_footer %} {% endblock %}
        </div>
    </div>
    
{% endblock %}