{% trans_default_domain 'FOSUserBundle' %}
    
<style>
    .column {
        max-width: 450px;
    }
</style>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h1 class="ui center aligned icon teal header">
            <i class="user icon"></i>
            <div class="content">
                Resetting password
            </div>
        </h1>
        <form class="ui large form" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" id="username" name="username" required="required"  placeholder="Username or email">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Reset</div>
            </div>
        </form>

        <div class="ui message">
            <div class="ui list">
                <div class="item">
                    New to us? <a href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                </div>
                <div class="item">
                    Do you have account? <a href="{{ path('fos_user_security_login') }}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
