{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header_content %}
    Log-in to your account
{% endblock %}

{% block header_icon %}
    <i class="user icon"></i>
{% endblock %}

{% block general_form_errors %}
    {% if error %}
        <div class="ui red message">
            <div class="header">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block form %}
    {{ include('@FOSUser/Resetting/reset_content.html.twig') }}
{% endblock %}
